[Unit]
Description=Service for running the Beagle car code on poweron.
After=network.target

[Service]
ExecStart=/home/cmpt433-user/systemd.sh
User=root
Restart=on-failure

[Install]
WantedBy=multi-user.target